 <div class="row row1">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4 div_search">
            <Input class="search" type="search" placeholder="Buscar"></Input>
        </div>
        <div  class="col-md-4 div_a">
            <a class="a_dash" asp-controller="Landing" asp-action="Index">Cerrar Seccion</a>
        </div>
    </div>
    <div class="row row_dash">
        <div class="col-md-3">
            <div class="card card_dash">
                <img class="img-dash" width="150px;" height="100px;" src="https://cdn.pixabay.com/photo/2017/09/01/08/42/book-cover-2703451_640.png" alt="">
                <div class="card-body">
                    <h1>El Libro</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card_dash">
                <img class="img-dash" width="150px;" height="100px;" src="https://cdn.pixabay.com/photo/2017/08/16/08/19/blogs-marketing-2646804_640.png" alt="">
                <div class="card-body">
                    <h1>El Libro</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card_dash">
                <img class="img-dash" width="150px;" height="100px;" src="https://cdn.pixabay.com/photo/2017/09/01/08/41/book-cover-2703449_640.png" alt="">
                <div class="card-body">
                    <h1>El Libro</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card_dash">
                <img class="img-dash" width="150px;" height="100px;" src="https://cdn.pixabay.com/photo/2017/08/16/07/54/software-2646757_640.png" alt="">
                <div class="card-body">
                    <h1>El Libro</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card_dash">
                <img class="img-dash" width="150px;" height="100px;" src="https://cdn.pixabay.com/photo/2017/08/16/07/57/blogs-fashion-2646759_640.png" alt="">
                <div class="card-body">
                    <h1>El Libro</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card_dash">
                <img class="img-dash" width="150px;" height="100px;" src="https://cdn.pixabay.com/photo/2017/08/16/08/26/blogs-guys-2646819_640.png" alt="">
                <div class="card-body">
                    <h1>El Libro</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card_dash">
                <img class="img-dash" width="150px;" height="100px;" src="https://cdn.pixabay.com/photo/2017/08/16/07/42/bloggers-2646750_640.png" alt="">
                <div class="card-body">
                    <h1>El Libro</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card_dash">
                <img class="img-dash" width="150px;" height="100px;" src="https://cdn.pixabay.com/photo/2017/08/16/07/48/bitcoin-2646751_640.png" alt="">
                <div class="card-body">
                    <h1>El Libro</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card_dash">
                <img class="img-dash" width="150px;" height="100px;" src="https://cdn.pixabay.com/photo/2017/09/01/08/46/internet-business-2703460_640.png" alt="">
                <div class="card-body">
                    <h1>El Libro</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card_dash">
                <img class="img-dash" width="150px;" height="100px;" src="https://cdn.pixabay.com/photo/2017/08/16/08/02/blogs-book-2646768_1280.png" alt="">
                <div class="card-body">
                    <h1>El Libro</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card_dash">
                <img class="img-dash" width="150px;" height="100px;" src="https://cdn.pixabay.com/photo/2020/08/31/16/39/ephemera-5532941_640.jpg" alt="">
                <div class="card-body">
                    <h1>El Libro</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card_dash">
                <img class="img-dash" width="150px;" height="100px;" src="https://cdn.pixabay.com/photo/2017/08/16/07/36/software-2646725_640.png" alt="">
                <div class="card-body">
                    <h1>El Libro</h1>
                </div>
            </div>
        </div>
    </div>