
    <div class="row row1">
        <div class="col-md-4">
                
        </div>
        <div class="col-md-4 div_search">
            <Input class="search" type="search" placeholder="Buscar"></Input>
            </div>
        <div  class="col-md-4 div_a">
            <a class="a_usuario" asp-controller="Landing" asp-action="Index">Cerrar Seccion</a>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 col_card">
                <div class="card card_created">
                    <div class="card-body">
                        <input class="input_card" placeholder="Nombre" type="text">
                        <input class="input_card" placeholder="Apellido" type="text">
                        <input class="input_card" placeholder="edad" type="text">
                        <input class="input_card" placeholder="Genero" type="text">
                        <input class="input_card" placeholder="Correo" type="text">
                        <input class="input_card" placeholder="Nro documento" type="text">
                        <input class="input_card" placeholder="Telefono" type="text">
                        <input class="input_card" placeholder="Direccion" type="text">
                        <input class="input_card" placeholder="Nombre pariente" type="text">
                        <input class="input_card" placeholder="Telefono pariente" type="text">
                        <a class="btn btn-primary boton_card" asp-controller="Usuarios" asp-action="Index">Crear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>