<link rel="stylesheet" href="~/css/Landing.css">


<div class="card position-absolute top-50 start-50 translate-middle"" style="width: 18rem;">
  <img src="https://i.pinimg.com/originals/0e/5c/c2/0e5cc29ccafd2fc876e12ca63b4f8ae5.jpg" class="card-img-top" alt="...">
  <ul class="list-group list-group-flush">
    <input class="input" placeholder="Usuario" type="text">
    <input class="input" placeholder="Password" type="passwor">
  </ul>
  <div class="card-body">
    <a href="#" class="btn btn-danger">Card link</a>
    <a href="#" class="card-link">Registrarce</a>
  </div>
</div>