<<<<<<< HEAD
<div class="row row1">
    <div class="col-md-4">
            
    </div>
    <div class="col-md-4 div_search">
        <Input class="search" type="search" placeholder="Buscar"></Input>
        </div>
    <div  class="col-md-4 div_a">
        <a class="a_usuario" asp-controller="Landing" asp-action="Index">Cerrar Seccion</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary boton a_boton" asp-controller="Libros" asp-action="Create">Crear otro libro</a>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Autor</th>
                <th scope="col">Año</th>
                <th scope="col">Genero</th>
                <th scope="col">Estado</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cien años de soledad</td>
                <td>Gabriel garcia marquez</td>
                <td>1967</td>
                <td>Realismo magico</td>
                <td>Bueno</td>
                <td>Disponible</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              <tr>
                <td>1984</td>
                <td>George orwell</td>
                <td>1949</td>
                <td>Distopia</td>
                <td>Bueno</td>
                <td> No disponible</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              <tr>
                <td>Orgullo y prejuicio</td>
                <td>Jane austen</td>
                <td>1813</td>
                <td>Novela romantica</td>
                <td>Bueno</td>
                <td>Disponible</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              <tr>
                <td>El principito</td>
                <td>Antoine de Saint-Exupéry</td>
                <td>1943</td>
                <td>Lectura infantil</td>
                <td>Bueno</td>
                <td> No disponible</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              <tr>
                <td>El principito</td>
                <td>Antoine de Saint-Exupéry</td>
                <td>1943</td>
                <td>Lectura infantil</td>
                <td>Bueno</td>
                <td> No disponible</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
=======
<div class="row row1">
    <div class="col-md-4">
            
    </div>
    <div class="col-md-4 div_search">
        <Input class="search" type="search" placeholder="Buscar"></Input>
        </div>
    <div  class="col-md-4 div_a">
        <a class="a_usuario" asp-controller="Landing" asp-action="Index">Cerrar Seccion</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary boton"><a class="a_boton" href="">Crear otro libro</a></button>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Autor</th>
                <th scope="col">Año</th>
                <th scope="col">Genero</th>
                <th scope="col">Estado</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cien años de soledad</td>
                <td>Gabriel garcia marquez</td>
                <td>1967</td>
                <td>Realismo magico</td>
                <td>Bueno</td>
                <td>Disponible</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              <tr>
                <td>1984</td>
                <td>George orwell</td>
                <td>1949</td>
                <td>Distopia</td>
                <td>Bueno</td>
                <td> No disponible</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              <tr>
                <td>Orgullo y prejuicio</td>
                <td>Jane austen</td>
                <td>1813</td>
                <td>Novela romantica</td>
                <td>Bueno</td>
                <td>Disponible</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              <tr>
                <td>El principito</td>
                <td>Antoine de Saint-Exupéry</td>
                <td>1943</td>
                <td>Lectura infantil</td>
                <td>Bueno</td>
                <td> No disponible</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              <tr>
                <td>El principito</td>
                <td>Antoine de Saint-Exupéry</td>
                <td>1943</td>
                <td>Lectura infantil</td>
                <td>Bueno</td>
                <td> No disponible</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
>>>>>>> c757dc1c471fa86adf6f00b7b2d79ea3ad46b53f
</div>