 <div class="row row1">
        <div class="col-md-4">
                
        </div>
        <div class="col-md-4 div_search">
            <Input class="search" type="search" placeholder="Buscar"></Input>
            </div>
        <div  class="col-md-4 div_a">
            <a class="a_usuario" asp-controller="Landing" asp-action="Index">Cerrar Seccion</a>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 col_card">
                <div class="card card_created">
                    <div class="card-body">
                        <input class="input_card" placeholder="Nombre usuario" type="text">
                        <input class="input_card" placeholder="Nombre libro" type="text">
                        <input class="input_card" placeholder="Estado libro inicio" type="text">
                        <input class="input_card" placeholder="Estado libro entrega" type="text">
                        <input class="input_card" placeholder="Fecha prestamo inicio" type="text">
                        <input class="input_card" placeholder="Fecha prestamo entrega" type="text">
                        <a class="btn btn-primary boton_card" asp-controller="Historial" asp-action="Index">Crear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>