<div class="row row1">
    <div class="col-md-4">
            
    </div>
    <div class="col-md-4 div_search">
        <Input class="search" type="search" placeholder="Buscar"></Input>
        </div>
    <div  class="col-md-4 div_a">
        <a class="a_usuario" asp-controller="Landing" asp-action="Index">Cerrar Seccion</a>
    </div>
</div>


<div class="container container_delete">
    <div class="row row_delete">
        <div class="col-md-12 col_ventana">
            <div class="div_delete">
                <button class="btn btn-warning el_boton">Se ha eliminado correctamente</button>
            </div>
            <a class="btn btn-primary volver a_volver" asp-controller="Historial" asp-action="Index">Volver</a>
        </div>
    </div>
</div>