<div class="row row1">
    <div class="col-md-4">
            
    </div>
    <div class="col-md-4 div_search">
        <Input class="search" type="search" placeholder="Buscar"></Input>
        </div>
    <div  class="col-md-4 div_a">
        <a class="a_usuario" asp-controller="Landing" asp-action="Index">Cerrar Seccion</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary boton a_boton" asp-controller="Historial" asp-action="Create">Crear otro Historial</a>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre usuario</th>
                <th scope="col">Nombre libro</th>
                <th scope="col">Estado libro inicio</th>
                <th scope="col">Estado libro entrega</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha entrega</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Duvian</td>
                <td>Cien años de soledad</td>
                <td>Bueno</td>
                <td>Bueno</td>
                <td>12-09-2023</td>
                <td>20-09-2023</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              <tr>
                <td>Duvian</td>
                <td>Cien años de soledad</td>
                <td>Bueno</td>
                <td>Bueno</td>
                <td>12-09-2023</td>
                <td>20-09-2023</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              <tr>
                <td>Duvian</td>
                <td>Cien años de soledad</td>
                <td>Bueno</td>
                <td>Bueno</td>
                <td>12-09-2023</td>
                <td>20-09-2023</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              <tr>
                <td>Duvian</td>
                <td>Cien años de soledad</td>
                <td>Bueno</td>
                <td>Bueno</td>
                <td>12-09-2023</td>
                <td>20-09-2023</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              <tr>
                <td>Duvian</td>
                <td>Cien años de soledad</td>
                <td>Bueno</td>
                <td>Bueno</td>
                <td>12-09-2023</td>
                <td>20-09-2023</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-warning">
                        <a href="">Editar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Detalles</a>
                    </button>
                </td>
              </tr>
              
            </tbody>
          </table>
    </div>
</div>