.container_delete{
    display: grid;
    place-content: center;
    height: 600px;
}

.el_boton{
    padding: 50px;
    border-radius: 40%;
}

.div_delete{
    margin-bottom: 50px;
}

.col_ventana{
    text-align: center;
}

.a_volver{
    text-decoration: none;
    color: white;
}

.el_boton{
    color: black;
    font-weight: bold;
}

.volver{
    width: 200px;
}